# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.swp

# Project Specific
# Generated datasets and outputs
dataset/
output/
